@charset "UTF-8";
/* CSS Document */

body { 
	font-family : Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #1a1a1a;
	-webkit-text-size-adjust: none;
}

.label {
	color: #ec9322;
}

#page-wrap {
	min-width: 300px;
	margin: -18px;
	background-color: #1a1a1a;
	}
	
#page-wrap #inside {
	background-color: #1a1a1a;
	margin: 10px;
	padding-top: 10px;
}

#header {
	background-color: ##1a1a1a;
	text-align: center;
	padding-bottom: 2px;
}

#main-content {
	background-color: #1a1a1a;
}

#main-content2 {
	background-color: #1a1a1a;
	display: none;
}

.infoDIV {
	background-color: #1a1a1a;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
}

.heading {
	font-size: 20px;
	color: #EEEAE5;
}

.result {
	color: #B9B19D;
}

.result_unknown {
	font-style: italic;
	color: #B9B19D;
}

#btnLessInfo {
	display: none;
}

.btnLemonGradient {
	width: 120px;
	display: inline-block;
	padding: 2px;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #ec9322;
	font-size: 18px;
	-moz-box-shadow: inset 0px 1px 0px 0px #ec9322;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ec9322;
	box-shadow: inset 0px 1px 0px 0px #ec9322;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9dd77), color-stop(1, #ec9322));
	background: -moz-linear-gradient(top, #f9dd77 5%, #ec9322 100%);
	background: -webkit-linear-gradient(top, #f9dd77 5%, #ec9322 100%);
	background: -o-linear-gradient(top, #f9dd77 5%, #ec9322 100%);
	background: -ms-linear-gradient(top, #f9dd77 5%, #ec9322 100%);
	background: linear-gradient(to bottom, #f9dd77 5%, #ec9322 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9dd77', endColorstr='#ec9322',GradientType=0);
	background-color: #f9dd77;
}